  h1 {
    border-bottom: solid 1px #ff5c00;

  }
  body {
    font-family: 16px/22px 'Lato',sans-serif;
    color: white; 
    text-align: left;
    background: #222;
  }

  .row {
    margin-right: 0px !important; 
    margin-left: 0px !important;
  }

  .butn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Courier New;
    font-size: 15px;
    color: #fff;
    background: #ff5c00;
    padding: 6px 11px 6px 11px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #ff5900;
    text-decoration: none;
  }
  .fb-post>span {
    max-width: 100%;
}
.fb-post iframe {
  border: 0;
  display: block;
  margin: 0 auto;
}

.offer-link {
  font-size: 15px ; 
  color:  #ff5c00 !important;
  text-transform: uppercase;
}
  

.navbar-item {
  border: none;
  color: white;
  height: 100%; 
  margin: auto;
  padding-top: 20px;  
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: -1.4px;

}

.bigger {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -2.9px;
  color: #ff5c00;
  text-align: left;
}
.text-left {
  text-align: left;
}

a {
  color: #ff5c00;
}

a:hover {
  color: #ff5c00;
}


.text-block {
  text-align: justify
}

h2 {
  color: #ff5c00;
}
